.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.scrolling-title-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 100px;
  margin-bottom: 20px;
}

.scrolling-title {
  position: absolute;
  white-space: nowrap;
  font-size: 60px;
  font-weight: bold;
  color: #FFD700;
  /* animation: scroll-title 10s linear infinite; */
  animation: scroll-title 10s linear;
  left: 100vw;
}

.objective {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

@keyframes scroll-title {
  0% {
    left: 100vw;
  }
  100% {
    left: -100vw;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon-img {
  width: 150px;
}